/*Gustos styles*/
.gusto1 {
    display: flex;
    justify-content: center;
    font-family: $font3;
}
.gusto2 {
    font-family: $font3;
    display: flex;
    justify-content: center;
}
/*Gustos styles*/